@page "/authentication/{action}"
@attribute [AllowAnonymous]

<RemoteAuthenticatorView Action="@Action">
    <LogOutSucceeded>
        <MudItem Class="d-flex justify-center">
            <MudText Typo="Typo.h5" GutterBottom="true">"You were successfully logged out."</MudText>
        </MudItem>
        <MudItem Class="d-flex justify-center">
            <MudButton OnClick="GoHome" Color="Color.Primary" Size="Size.Large">"Click here to go to home page"</MudButton>
        </MudItem>
    </LogOutSucceeded>
    <LoggingIn><span>"Logging you in..."</span></LoggingIn>
    <CompletingLoggingIn><span>"Checking permissions..."</span></CompletingLoggingIn>
    <LogInFailed><span>"Sorry, your login failed. Please try again or contact support."</span></LogInFailed>
    <LogOut><span>"Logging you out..."</span></LogOut>
    <CompletingLogOut><span>"Logging you out..."</span></CompletingLogOut>
    <LogOutFailed><span>"Sorry, log out operation failed. Please try again or contact support."</span></LogOutFailed>
    <UserProfile><span>"Retrieving profile..."</span></UserProfile>
    <Registering><span>"Registering account..."</span></Registering>
</RemoteAuthenticatorView>

@code {
    [Parameter] public string? Action { get; set; }

    public void GoHome() =>
    _navigationManager.NavigateTo("/");
}